@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
    --primary-color: #D28B55;
    --primary-light: rgba(210, 139, 85, 0.2);
    --white-color: #F7FFF7;
    --light-color: rgba(247, 255, 247, 0.55);
    --black-color: #343434;
    --gray-color: #636564;
    --yellow: #FFFD82;
    --blue: #04395E;
    --orange: orangered;
    --shadow: rgba(0, 30, 43, 0.3) 0px 4px 10px -4px;

    --container-lg: 80%;
    --container-md: 90%;

    --transition: all 500ms ease;
}


/*-----------------------------------*\
  GENERAL STYLES
\*-----------------------------------*/

body {
    font-family: 'Montserrat';
    background: var(--black-color);
    color: var(--white-color);
    line-height: 1.6;
    overflow-x: hidden;
    /* background: var(--white-color) url('./Assets/bg_texture.png'); */
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
  }

.container {
    width: var(--container-lg);
    max-width: 1920px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    color: var(--primary-color);

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: var(--white-color);
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.btn {
    color: var(--white-color);
    width: fit-content;
    margin: 0 auto;
    padding: 0.7rem 2rem;
    background: var(--orange);
    border-radius: 0.8rem;
    border: 2px solid var(--orange);
    transition: var(--transition);
}

.btn.new {
    color: var(--white-color);
    width: fit-content;
    margin: 0 auto;
    padding: 0.7rem 2rem;
    background: var(--light-color);
    border-radius: 0.8rem;
    border: 2px solid var(--light-color);
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    border-color: var(--orange);
}


